{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            background-color: brown;
        }

        .card-body {
            display: flex;
            flex-direction: row;
        }


        .last-card {
            background-color: darkblue; /* Ganti warna sesuai preferensi Anda */
        }
    </style>
    <body>

        <h1>Davin Store</h1>
    
        <h5>Name:</h5>
        <p>{{name}}</p>
    
        <h5>Class:</h5>
        <p>{{class}}</p>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    
        <div>Barang yang kamu tambahkan: {{products|length}}</div>
            
        {% for product in products %}
            <div class="card-product {% if forloop.last %}last-card{% endif %}">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="text-dark">{{product.name}}</a></p>
                                    <p class="small text-muted">{{product.description}}</p>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between">
                                <p class="small text-muted">{{product.amount}}</p>
                            </div>
                            <div style="width: 20px;"></div>
                            <a href="{% url 'main:tambah' product.id %}">
                                <button>
                                    +++
                                </button>
                            </a>

                            <a href="{% url 'main:kurang' product.id %}">
                                <button>
                                    ---
                                </button>
                            </a>
                            <a href="{% url 'main:hapus' product.id %}">
                                <button>
                                    del
                                </button>
                            </a>
                        </div>
                        <hr class="my-0" />
                    </div>
                </div>
            </div>
        {% endfor %}
    
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>
    </body>
{% endblock content %}
